.contact-detail-page {
    width: 350px;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgba(19, 2, 80, 0.253);

    img {
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
        border-radius: 3px;
    }

    .contact-info {
        margin-bottom: 30px;

        h3 {
            font-weight: 400;
            color: rgb(47, 47, 49);
            margin: 0;

        }
    }

    .btn-container {
        display: flex;
        // justify-content: space-between;
        width: 100%;
        margin: auto;

        .btn {
            margin: auto;
        }
    }

    

}