@import '../../scss/variables.scss';

.chart {
    background-color: rgba(255, 255, 255, 0.377);
    background-color: rgba($clr1, 0.6);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    h3 {
        margin: 0;
        align-self: flex-start;
        color: white;
    }
}