$clr1:rgb(113, 112, 116);
$clr2:rgb(233, 162, 10);
$clr3:rgb(19, 2, 80);
$clr4:rgb(86, 86, 88);
$clr5:rgb(250, 250, 250);
$clr6:rgb(96, 92, 109);
$mobile-breakpoint: 460px;
$narrow-breakpoint: 710px;
$normal-breakpoint: 960px;