@import '../../scss/typography.scss';
@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.app-header {
    box-shadow: 2px 2px 7px rgba(37, 32, 56, 0.2);
    background-color: rgba($clr1, 0.1);

    align-items: center;
    font-size: calc(10px + 2vmin);
    z-index: 2;

    display: flex;
    justify-content: space-between;
    height: 55px;
    padding: 0 20px;
    &.homepage {
        background-color: rgba(255, 255, 255, 0.253);

        .logo,
        .nav-link {
            color: rgb(241, 241, 241);
        }
        .logo span {
            color: $clr2;
        }

    }
    
    .logo {
        font-family: dosis;
        margin: 0;
        color: rgb(96, 92, 109);
        span {
            color: $clr2;
        }
    }

    div {
        height: 100%;
        display: flex;

        .nav-link {
            padding: 0 10px;
            flex-grow: 1;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            color: rgb(96, 92, 109);
            min-width: 60px;
            text-decoration: none;
            font-size: 1rem;
            cursor: pointer;
            font-weight: 400;

            &:hover {
                color: $clr2;
            }
        }
        .nav-link.home::before{
            font-family:fa-solid;
            content:"\f015"
        }
        .nav-link.contact::before{
            font-family:fa-solid;
            content:"\f007"  
        }
        .nav-link.statistic::before{
            font-family:fa-solid;
            content:"\f201"
        }

        .active-nav {
            background-color: rgba(6, 1, 26, 0.6);
            color: rgb(250, 250, 250);
        }

    }

}