@import '../../scss/mixins.scss';
@include for-mobile-layout {
.signup-page {
    display:flex;
    flex-direction: column;
    align-items: center;
    label{
        display:flex;
        flex-direction: column;
        margin-bottom:20px;
    }
}
}