@font-face {
    font-family: poppins;
    src: url('./fonts/Poppins/Poppins-Medium.ttf');
}
@font-face {
    font-family: poppins-bold;
    src: url('./fonts/Poppins/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: dosis;
    src: url('./fonts/Dosis/Dosis-Medium.ttf');
}
@font-face {
    font-family: fa-solid;
    src: url('./fonts/fa/fa-solid-900.ttf');
}